// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/_all.sass';
// @import '../node_modules/bulma/sass/components/_all.sass';
// @import '../node_modules/bulma/sass/layout/_all.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';

@import '../node_modules/bulma/bulma.sass';

.leaflet-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  // height: calc(100vh - 52px);
}

.container-main {
  display: flex;
  flex-direction: row;
}
