# Client
/map-client/node_modules
/map-client/build

# DB
/map-db-mongo

# MQTT
/map-mqtt/node_modules
/map-mqtt/log

# local env files
/map-mqtt/.env.local
/map-mqtt/.env.*.local
/map-mqtt/.env

# Server
/map-server/node_modules
/map-server/log

# Corn Job
/map-cron-job/node_modules

# etc
.vscode